<% provide(:page_title, 'Home') %>
<% provide(:home_active, 'active') %> 
<div class="container-fluid about">	
	<div class="img-fluid">	
	    <%= image_tag "about.png", alt: "About" %>	
	 	<div class="layer">	
	 	</div> 		 	
	    <div class="center_about">
	    	<%= render 'layouts/flash_notice_alert' %>
	      <h1 class="text-center top-banner"> Solart </h1>
	      <h4 class="text-center top-banner"> Ruby on Rails web application development</h4>
    	</div> 
    </div>	 		
</div>
<!-- Jumbotron-Aqua Gradient - Starts -->
<div class="container-fluid">
 	<div class="row jumbotron color-block-2 aqua-gradient z-depth-2">
 		<div class="col-12 spatop"> <!-- referencing all screen size -->
 			<div>
			    <div>
				   <p class="lead center-p">At Solart we believe in creating simple, scalable and flexible applications. Our applications would have the artistic purpose of pleasing the user's senses and enriching the experience without compromising on the robust infrastructure and reinforced security
	 			   </p>
 				</div>
 				<br>
			    <div class="fade">
			    	<p class="lead center-p">Execution is key. We are here to help you develop your idea into a real product so, you have the time for planning the execution's strategies 
	 				</p>
	 			</div>
			    <div class="fade">
				    <p class="lead center-p">We strive for the notion less is more
			 		</p>
		 		</div>
			</div>
		</div>
 		<div class="col-12 butaqua">
 			   <%= link_to "How can we Help?", new_form_message_path , :class => "btn  btn-jumbo btn-lg" %>
 		</div>
 	</div>
 </div>
 <!--- What We do - Starts -->
<div class="container-fluid padding jumbo_back">	
	<div class="row text-center">
		<div class="col-12">
			<h1 class="dispaly-4 wwd">What we do</h1>
			<hr class="wwd">
		</div>	
	</div>	
		<!-- <hr> -->
		<div class="row ">
			<div class="col-12">
				<p class="lead mleft">  We develop <b>Ruby on Rails</b> applications. <br>
	 			<br>
	 			Every development we deploy is carefully designed from our clients' ideas, crafted and customized using a range of web development tools,
	 			<br> 
	 			techniques & technologies used on today's modern <b><i>World Wide Web</i></b> to deliver functional, scalable and innovative solutions.
	 			<br>
	 			<br>
	 			We work with the public and private sectors from individuals, start-ups to well-established organizations.
	 			
	 			<br>
	 			<br> 
	 			<b>We can help with:</b> 	
	 			</p>          	 
	          	<ul class="ulleft">
		         		<li> 
		         			Web applicatiom development or refactoring ( Websites / Web platforms)
		         	 	</li>
		         	 	<br>
		         		<li>
		         			Development of Minimum Viable Products (MVPs)
		         		</li>
		         </ul>
	         	<br>
	          	<br> 
	         			
			</div>
		</div>
</div>
	
<!--- Two Column - How We do it -  Starts -->
<div class="color-block-2 orange-logo z-depth-2">
	<div class="container-fluid">
		<div class="row padding">
			<div class="col-lg-12">					
				<h2 class="hwdsw"> How we do it</h2>
				<br>
				<br>
				 <div class="animation-element slide-left testimonial text-center">
				 	<%= image_tag "onlinemarketingsachin.gif"%>
				 	<br>
				 	<br>
					<p class="lead wwdi">1. First, we will meet with you to gather all your application’s needs and together we will design the first hand-draft of your application.
					</p>
				</div>
				<div class="animation-element slide-left testimonial text-center">	
					<%= image_tag "Role-of-Website-Design-in-Business-Growth.gif"%>
				 	<br>
				 	<br>	
					<p class="lead wwdi">2. Then Solart's development team creates the workflow, set time and budget constraints based on your requirements, refined/tuned the first draft we made together and share it with you for approval.
					</p>
			 	</div>
				<div class="animation-element slide-left testimonial text-center">	
					<%= image_tag "design-thinking-feedback.gif"%>
					<br>
				 	<br>
					<p class="lead wwdi">3. Once the workflow, constraints, and tweaks to the first draft are agreed, we will start delivering functional updates frequently giving you the opportunity to feedback along the process to boost your confidence that all is going according to plan.
					</p>
			 	</div>
				<div class="animation-element slide-left testimonial text-center">
					<%= image_tag "292fc8e3349add077bdb24a215513e83.gif"%>
					<br>
				 	<br>
					<p class="lead wwdi">4. After deployment, we'll carry on helping you maintaining and updating your application at your request.  
					</p>
			 	</div>	
			 </div>
		</div>
		<br>
		<br>
			<div class="text-center">
			    <div class="col-12 wwd-bot-spac">		
			        <%= link_to "How can we Help?", new_form_message_path, :class => "btn  btn-hwdi" %>
			    </div>
			</div>
	</div>	
</div>